body
{
	background-color: #1a2231;
	color: #ffffff;
	font-family: 'Lato', sans-serif, roboto;
	font-size: 20px;
}

#container
{
	width: 1030px;
	height: 720px;
	margin-left: auto;
	margin-right: auto;
}

#header
{
	width: 960px;
	text-align: center;
}

#logo
{
	background-image: url(img/baner.png);
	font-size: 50px;
	width: 1030px;
	height: 250px;
	margin-left: auto;
	margin-right: auto;
	
}

#zegar
{
color:#2a3b58;
	width: 1030px;
	font-size: 25px;
	margin-left: auto;
	margin-right: auto;
}
#content
{
width:400px;
	height:420px;
	background-color: #2a3b58;
	margin-left: auto;
	margin-right: auto;
}
#logowanie
{
	color: white;
	font-size:30px;
	text-align: center;
	padding: 40px 40px;
	background-color: #1a2231;
}
#wyloguj
{
	color: white;
	text-align: center;
	font-size:30px;
	padding: 40px 40px;
	background-color:#1a2231;
}
#formularz
{
color: #788f8a;
	text-align: center;
	padding: 50px 50px;
	border: 2px solid black;
}
#button_rej_text 
{
	color: #1a2231;
	padding: 20px 10px;
}

.error
{
	text-align: center; 
	color:red; 
	padding:20px 10px;
}
#lista
{
	
	color: #788f8a;
	padding-top: 20px 20px;
	text-align: center;
	margin: auto;
}
#button_rej
{
	color: white;
	text-align: center;
	padding-top: 40px;
	background-color:#1a2231;
	background-image: url(img/button1.jpg);
}




